@import 'tailwindcss';
@plugin "daisyui";

/* index.css */
html {
  scroll-behavior: smooth;

  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
