@import 'tailwindcss';

body {
  scroll-behavior: auto;
  overflow: hidden;
  height: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
