@import 'tailwindcss';

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #171717; /* Keep your dark background */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
